<!-- begin:service -->
<div id="service" class="splash">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Services <small>Buying or Selling a vehicle? NoLemon has you covered.</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="javascript: void(0);"><i class="fa fa-car" style="left: 45%"></i></a>
          </div>
          <div class="service-content">
            <h3>Sellers</h3>
            <p>Your vehicle is awesome. Share it with potential buyers using our professional advertisments and video uploads. We provide car owners with the effective exposure they need to display the true value of their vehicle.</p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-4 col-sm-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="javascript: void(0);"><i class="fa fa-users" style="left: 47%"></i></a>
          </div>
          <div class="service-content">
            <h3>Buyers</h3>
            <p>No more guesswork from poor quality images or missing descriptions. We provide buyers with the opportunity to find high quality, reliable vehicles in a time effective manner.</p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-4 col-sm-12">
        <div class="service-container">
          <div class="service-icon">
            <a href="javascript: void(0);"><i class="fa fa-check-square" style="left: 50%"></i></a>
          </div>
          <div class="service-content">
            <h3>Up-to-date Inspections</h3>
            <p>All cars are shown with a current third-party mechanical inspection report. This lets buyers and sellers make quick transactions without the guesswork associated with most online sales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:service -->