<!-- begin:about -->
    <div id="about" class="splash">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works<small>Simple steps for selling your car online.</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="how-it-works">
                        <li>
                            <div class="how-it-works-image">
                                <h4 class="number">1</h4>
                            </div>
                            <div class="how-it-works-panel">
                                <div class="how-it-works-heading">
                                    <h3>Fill out an Ad with NoLemon.</h3>
                                </div>
                                <div class="how-it-works-body">
                                    <p class="text-muted">Answer a series of questions about your vehicle and we will generate a professional advertisement. Include video and images to show buyers your car inside and out.</p>
                                </div>
                            </div>
                        </li>
                        <li class="how-it-works-inverted">
                            <div class="how-it-works-image">
                                <h4 class="number">2</h4>
                            </div>
                            <div class="how-it-works-panel">
                                <div class="how-it-works-heading">
                                    <h3>Book an Inspection.</h3>
                                </div>
                                <div class="how-it-works-body">
                                    <p class="text-muted">Choose a time for an inspection at your convenience. A 3rd party mechanic will inspect your car and upload the report to our site.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="how-it-works-image">
                                <h4 class="number">3</h4>
                            </div>
                            <div class="how-it-works-panel">
                                <div class="how-it-works-heading">
                                    <h3>Get matched with potential buyers.</h3>
                                </div>
                                <div class="how-it-works-body">
                                    <p class="text-muted">Potential buyers will contact you to complete the sale. Your advertisement will remain up until your car has been sold.</p>
                                </div>
                            </div>
                        </li>
                        <li class="how-it-works-inverted">
                            <div class="how-it-works-image">
                                <h4>Sell
                                    <br>Your Car
                                    <br>Quickly</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end:about -->
