<!-- begin:modal-register -->
  <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <input type="email" class="form-control input-lg" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Confirm Password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <p>Already have account ? <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">Sign in here.</a></p>
          <input type="submit" class="btn btn-warning btn-block btn-lg" value="Register">
        </div>
      </div>
    </div>
  </div>
<!-- end:modal-register -->
