{% extends "base.html" %}
{% load staticfiles %}

{% block navlinks %}
            <li class="active hidden"><a href="#header">Home</a></li>
            <li><a href="#service" class="page-scroll">About</a></li>
            <li><a href="#contact" class="page-scroll">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">You <b class="caret"></b></a></li>
            {% else %}
                <li><a href="#modal-register" class="modal-button" data-toggle="modal" data-target="#modal-register">Register</a></li>
                <li><a href="#modal-signin" class="modal-button" data-toggle="modal" data-target="#modal-signin">Sign in</a></li>
            {% endif %}
            <li><a href="#" class="nav-button">Sell your Car</a></li>
{% endblock %}

{% block page %}

    <!-- begin:header -->
    <div id="header" class="header-slide">
          <div class="container">
                <div class="row">
              <div class="col-md-5">
                <div class="quick-search">
                  <div class="row">
                    <form role="form">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                          <label for="country">Province</label>
                          <select class="form-control">
                            <option>Alberta</option>
                            <option>British Columbia</option>
                            <option>Quebec</option>
                            <option>Ottawa</option>
                            <option>Saskatchewan</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="bedroom">Model</label>
                          <select class="form-control">
                            <option>Coupe</option>
                            <option>Hatchback</option>
                            <option>Sedan</option>
                            <option>SUV</option>
                            <option>Convertible</option>
                          </select>
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                          <label for="location">Make</label>
                          <select class="form-control">
                            <option>Buick</option>
                            <option>Chevrolet</option>
                            <option>Chrysler</option>
                            <option>SUV</option>
                            <option>Convertible</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="bathroom">Year</label>
                          <select class="form-control">
                              <option>2015</option>
                              <option>2014</option>
                              <option>2013</option>
                              <option>2012</option>
                              <option>2011</option>
                              <option>2010</option>
                          </select>
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                          <label for="status">Color</label>
                          <select class="form-control">
                            <option>Blue</option>
                            <option>Green</option>
                              <option>Red</option>
                              <option>Yellow</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="minprice">Min Price</label>
                          <select class="form-control">
                            <option>$1,000</option>
                            <option>$2,000</option>
                            <option>$3,000</option>
                            <option>$4,000</option>
                          </select>
                        </div>
                      </div>
                      <!-- break -->
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                          <label for="type">Max KMs</label>
                          <select class="form-control">
                            <option>10,000</option>
                            <option>25,000</option>
                            <option>50,000</option>
                            <option>75,000</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="maxprice">Max Price</label>
                          <select class="form-control">
                            <option>$8,200</option>
                            <option>$11,700</option>
                            <option>$14,150</option>
                            <option>$21,110</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12"><a href="{% url "search" %}" class="btn btn-warning btn-lg btn-block">Search</a></div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- end:header -->

    {% include "splash/splash_services.html" %}
    {% include "splash/splash_about.html" %}
    {% include "splash/splash_contact.html" %}
    {% include "splash/splash_team.html" %}

{% endblock %}

{% block footerlinks %}
  <a href="#"> Terms and Conditions </a>
  <a href="#"> FAQ </a>
{% endblock %}

