{% extends "base.html" %}
{% load staticfiles %}

{% block navlinks %}
            <li><a href="{% url "home" %}">Home</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">You <b class="caret"></b></a></li>
            {% else %}
                <li><a href="#modal-register" class="modal-button" data-toggle="modal" data-target="#modal-register">Register</a></li>
                <li><a href="#modal-signin" class="modal-button" data-toggle="modal" data-target="#modal-signin">Sign in</a></li>
            {% endif %}
            <li><a href="#" class="nav-button">Sell your Car</a></li>
{% endblock %}


{% block page %}

    <!-- begin:header -->
    <div id="header" class="heading" style="background-image: url({%  static "img/img01.jpg" %})">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-10">
            <div class="quick-search">
              <form role="form" id="search-form">
                <!-- Search Row-->
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="form-group">
                      <label for="search">Search</label>
                      <input type="text" name="search" placeholder="Enter search terms (e.g./ Toyota Corolla)" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <label for="location">Location</label>
                    <select name="location" class="form-control">
                        <option value="">Any</option>
                        <option value="Edmonton">Edmonton and area</option>
                    </select>
                  </div>
                </div>
                <!-- End Search Row-->
                <!-- Fitler Row-->
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="form-group">
                        <label for="model">Model</label>
                        <select name="model" class="form-control">
                          <option value="">Any</option>
                          <option>Corolla</option>
                          <option>Civic</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="make">Make</label>
                        <select name="make" class="form-control">
                          <option value="">Any</option>
                          <option>Toyota</option>
                          <option>Honda</option>
                        </select>
                      </div>
                       <div class="form-group">
                          <label for="colour">Colour</label>
                          <select name="colour" class="form-control">
                            <option value="">Any</option>
                            <option>Blue</option>
                            <option>Green</option>
                            <option>Red</option>
                            <option>Yellow</option>
                          </select>
                      </div>
                    </div>
                    <!-- break -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <!-- Begin Price Range  -->
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group">
                            <label for="price range">Price</label>
                            <input type="text" id="price-display" readonly class="form-control slider-display">
                            <input type="hidden" name="min_price" id="min-price">
                            <input type="hidden" name="max_price" id="max-price">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div id="price-range" class="slider-range"></div>
                        </div>
                      </div>
                      <!-- End Price Range  -->

                      <!-- Begin Year Range  -->
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group">
                            <label for="year range">Year</label>
                            <input type="text" id="year-display" readonly class="form-control slider-display">
                            <input type="hidden" name="min_year" id="min-year">
                            <input type="hidden" name="max_year" id="max-year">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div id="year-range" class="slider-range"></div>
                        </div>
                      </div>
                     <!-- End Year Range  -->
                     <!-- Begin Mileage Range  -->
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group">
                            <label for="mileage range">Mileage</label>
                            <input type="text" id="mileage-display" readonly class="form-control slider-display">
                              <input type="hidden" name="min_mileage" id="min-mileage">
                              <input type="hidden" name="max_mileage" id="max-mileage">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div id="mileage-range" class="slider-range"></div>
                        </div>
                      </div>
                    </div>
                    <!-- End Mileage Range  -->

                    <!-- break -->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="form-group">
                        <label for="ordering">Ordering</label>
                        <select name="ordering" class="form-control">
                          <option value="">Newest</option>
                          <option value="date_posted">Oldest</option>
                          <option value="price">Lowest Price</option>
                          <option value="-price">Highest Price</option>
                          <option value="mileage">Lowest Mileage</option>
                          <option value="-mileage">Highest Mileage</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- End Fitler Row-->
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="reset" name="clear" value="Clear" id="clear-button" class="btn btn-warning btn-block">
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="submit" name="submit" value="Search" id="search-button" class="btn btn-warning btn-block">
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:header -->

    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- begin:article -->
         <!-- <div class="col-md-9 col-md-push-3"> -->
            <div class="row">
              <div class="col-md-12">
                <div class="heading-title heading-title-alt">
                  <h3>Cars meeting the search criteria</h3>
                </div>
              </div>
            </div>
            <!-- begin:sorting
            <div class="row sort">
              <div class="col-md-4 col-sm-4 col-xs-3">
                <a href="search.html" class="btn btn-warning"><i class="fa fa-th"></i></a>
                <a href="search_list.html" class="btn btn-default"><i class="fa fa-list"></i></a>

              </div>
              <div class="col-md-8 col-sm-8 col-xs-9">
                <form class="form-inline" role="form">
                  <span>Sort by : </span>
                  <div class="form-group">
                    <label class="sr-only" for="sortby">Sort by : </label>
                    <select class="form-control">
                      <option>Most Recent</option>
                      <option>Lowest Price</option>
                      <option>Highest Price</option>
                      <option>Most Popular</option>
                    </select>
                  </div>
                  <span>Show : </span>
                  <div class="form-group">
                    <label class="sr-only" for="show">Show : </label>
                    <select class="form-control">
                      <option>6</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                      <option>25</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            end:sorting -->

            <!-- begin:product -->
            <div id="ad-list" class="row"></div>

            <div class="row text-center">
                <img src="{% static "img/loading2.gif" %}" id="loading-indicator" style="color: yellow"/>
            </div>
            <!-- end:product -->

          <!--</div>-->
          <!-- end:article -->
        </div>
      </div>
    </div>
    <!-- end:content -->

{% endblock %}

{% block footerlinks %}
  <ul class=" pull-left navbar-link footer-nav">
      <li>
          <a href="index.html"> Home </a>
          <a href="about-us.html"> About us </a>
          <a href="#"> Terms and Conditions </a>
          <a href="#"> Privacy Policy </a>
          <a href="contact.html"> Contact us </a>
          <a href="faq.html"> FAQ </a>
      </li>
  </ul>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "js/search.js" %}"></script>
{% endblock %}